  <div class="jumbotron banner p-4 p-md-5 text-white rounded">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Deep in The Heart of Texas</h1>
      <p class="lead my-3">A city for concert goers, avid foodies, beer snobs, urban dwellers and nature folks, Austin has it all.</p>
    </div>
  </div>