{% extends '_templates/base.njk' %}

{% block content %}

{% block page_title %}Howdy Y'all{% endblock %}

<div class="container">
  <div class="row">
    <col>
  </div>
    <h1>Your Guide to Austin</h1>
    <p>Hempen halter mizzenmast deadlights gaff pillage starboard jack lee Blimey draught. Man-of-war piracy black jack sutler Yellow Jack keel provost overhaul execution dock rigging. Log quarterdeck dead men tell no tales red ensign gibbet grog blossom bilge Nelsons folly code of conduct gunwalls.</p>
</div>
{% endblock %}