{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h1>The Iconic Sights of Austin</h1>
  <p>Intro text here.</p>

  <div class="row">
    {% for landmarks in austin.landmarks %}
    <div class="col-sm-6 col-lg-4">
      <div class="card mb-3" >
        <img src="img/landmarks/{{ landmarks.image }}" class="card-img-top" alt="...">
         <div class="card-body">
          <h5 class="card-title">{{ landmarks.name }}</h5>
          <p class="card-text">{{ landmarks.activities }}</p>
          <p class="card-text"><small class="text-muted">{{ landmarks.established }}</small></p>
          <a href=" {{ landmarks.url }} " class="stretched-link">Learn More</a>
      </div>
    </div>
    </div>
   {% endfor %}
  </div>
        
</article>
{% endblock %}