{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ name }} by Capt. Crit McGillicutty{% endblock %}

{% block content %}

{% endblock %}