.jumbotron.banner {
  background: url(../img/cmc-austin-dawn-20200614.jpeg) no-repeat center;
  background-size: cover;
}

.jumbotron {
  margin-bottom: 30px;
  font-family: 'Abril Fatface', cursive;
}